{% extends "base.html" %}

{% block content %}
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label>{{ form.country.label }}</label>
            {{ form.country(class="form-control") }}
        </div>
        {{ form.submit() }}
    </form>
    <hr>
    {% if plays_currently %}
        <h1>{{ country }}</h1>
        <p>current rank: <b>{{ rank }}</b></p>
        <p>current rank in federation: <b>{{ federation_rank }}</b></p>
    {% endif %}
    {% if country %}
        <div>
            <p>record high: <b>{{ min }}</b><br>
                years:
                {% for date in min_years %}
                    {{ date }} 
                {% endfor %}
            </p>
        </div>
        <div>
            <p>record low: <b>{{ max }}</b><br>
                years:
                {% for date in max_years %}
                    {{ date }} 
                {% endfor %}
            </p>
        </div>
    {% endif %}
    <div id="history"></div>
    <div id="histogram"></div>
    <script>
        var data = [{
            x: {{ rank_dates | safe }},
            y: {{ rank_values }},
            type: 'scatter',
            name: 'code',
            mode: 'lines+markers',
            marker: {
                color: {{ color | safe }}
            }
        }]

        var layout = {
            yaxis: {
                range: [220, 1]
            },
            title: 'Ranking history (grey represents World Cup years)'
        }
        Plotly.plot(document.getElementById('history'), data, layout)
    </script>
    <script>
        var data = [{
            x: {{ rank_values }},
            type: 'histogram'
        }]
        var layout = {
            xaxis : {
                range: [1, 220]
            },
            title: 'Histogram of ranking places'
        }
        Plotly.plot(document.getElementById('histogram'), data, layout)
    </script>
{% endblock %}